.profile {
  box-sizing: border-box;
  width: 40%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(42, 126, 157, 0.4);
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
}

.avatar {
  width: 200px;
  height: 200px;
  padding: 8%;
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
}

.avatar:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(42, 126, 157, 0.4);
  cursor: pointer;
}

.name {
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1%;
}

.tag {
  margin-top: 10px;
  margin-bottom: 1%;
}

.location {
  margin-bottom: 1%;
}

.tag-link {
  color: #000;
  text-decoration: none;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.stats {
  display: flex;
  list-style-type: none;
  justify-content: center;
  background-color: #3395c9;
  width: 90%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 15px;
}

.stats li {
  flex: 1;
  text-align: center;
}

.stats .label {
  display: block;
  font-weight: bold;
  color: #102d3c;
}

.stats .quantity {
  display: block;
  color: #102d3c;
}
