.profile {
  max-height: 600px;
  max-width: 450px;
  box-shadow: -3px 2px 36px 2px rgba(97, 72, 34, 0.85);
  -webkit-box-shadow: -3px 2px 36px 2px rgba(97, 72, 34, 0.85);
  -moz-box-shadow: -3px 2px 36px 2px rgba(97, 72, 34, 0.85);
}

.description {
  object-fit: cover;
}

.stats {
  list-style: none;
  display: flex;
  font-size: 18px;
}

.secondaryDescription {
  color: blueviolet;
  padding: 15px;
}
