.statistics {
  box-sizing: border-box;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(42, 126, 157, 0.4);
  border-radius: 15px;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #3395c9;
}

.stat-list {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

.item {
  flex: 1 1 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #eaf5f7;
  margin-right: 0;
  margin-bottom: 0;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.item:nth-child(even) {
  background-color: #cde2e6;
}

.item:hover {
  transform: scale(1.1);
}

.label {
  font-weight: bold;
}

.percentage {
  font-weight: bold;
  color: #333333;
}
